@media (max-width: 1300px) {
}

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
    .hero_area {
        min-height: auto;
    }


    .custom_nav-container .navbar-nav {
        padding-top: 15px;
    }


    .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 5px 25px;
        margin: 5px 0;
    }

    .slider_section .detail-box h1 {
        font-size: 2.5rem;
    }

    .slider_section {
        padding: 75px 0;
    }

    .slider_section .carousel_btn-box a {
        position: unset;
        transform: none;
    }

    .about_section .img-box img {
        height: 100%;
        width: auto;
        min-width: 100%;
    }
}

@media (max-width: 767px) {
    .header_section .header_top .social_box {
        display: none;
    }

    .header_section .header_top .contact_nav a span {
        font-size: 15px;
    }

    .slider_section .detail-box {
        text-align: center;
    }

    .slider_section .detail-box .btn-box {
        justify-content: center;
    }

    .about_section .img-box {
        margin-top: 45px;
    }

    .contact_section .form_container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .info_section .info_contact {
        margin: 15px 0;
    }

    .info_section .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info_section .info_main .rov > div {
        margin-bottom: 25px;
    }

    .info_section .social_box {
        margin-bottom: 25px;
    }

}

@media (max-width: 576px) {
    .header_section .header_top .contact_nav a span {
        display: none;
    }

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        transform: none;
    }

    .carousel_btn-box {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 376px) {
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}