body {
    font-family: 'Roboto', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
}

.heading_container h2 span {
    color: #2c7873;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hero_area .hero_bg_box {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero_area .hero_bg_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.hero_area .hero_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
}

.sub_page .hero_area {
    min-height: auto;
}

.header_section .header_top {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
}

.header_section .header_top .header_top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_section .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header_section .header_top .contact_nav a {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header_section .header_top .contact_nav a i {
    margin-right: 5px;
    background-color: #159ec0;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;
}

.header_section .header_top .contact_nav a:hover i {
    background-color: #2c7873;
}

.header_section .header_top .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 200px;
}

.header_section .header_top .social_box a i {
    margin-right: 5px;
    background-color: #159ec0;
    width: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;
}

.header_section .header_top .social_box a:hover i {
    background-color: #2c7873;
}

.header_section .header_bottom {
    padding: 15px 0;
}

.header_section .header_bottom .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand span {
    color: #2c7873;
}

.navbar-brand:hover {
    color: inherit;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
    margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    color: #2c7873;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
    color: #2c7873;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
    transform: none;
}

/*end header section*/
/* Style for Product Cards */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Style vide, la classe est seulement utilisée comme marqueur pour la fonction recherche */
.highlighted {

}

/*-----------------------------debut de la page connexion----------------------------------*/

.hero_area .container h1 {
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.hero_area .custom_form {
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10% auto 10% auto;
}

.hero_area .custom_form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.hero_area .custom_form input[type="text"],
.hero_area .custom_form input[type="password"],
.hero_area .custom_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.hero_area .custom_form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hero_area .custom_form input[type="submit"]:hover {
    background-color: #0056b3;
}

/*-----------------------------fin de la page connexion----------------------------------*/


.card:hover {
    transform: translateY(-5px);
}

.product_details_section .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.product_details_section .card-body {
    padding: 15px;
}

.product_details_section .card-title {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: #0c0c0c;
    margin-bottom: 15px;
}

.product_details_section .card-text {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    color: #333333;
    margin-bottom: 15px;
}

.product_details_section .product_price {
    font-size: 1.5rem; /* 24px */
    font-weight: bold;
    color: #e63946;
    margin-bottom: 15px;
}

.product_details_section .btn-primary {
    background-color: #102a42;
    border-color: #102a42;
    border-radius: 5px;
}

.product_details_section .btn-primary:hover {
    background-color: #f77f00;
    border-color: #f77f00;
}

/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section #customCarousel1 {
    width: 100%;
    position: unset;
}

.slider_section .detail-box {
    color: #ffffff;
    text-align: center;
}

.slider_section .detail-box h1 {
    font-weight: 600;
    margin-bottom: 15px;
    color: #ffffff;
}

.slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
    text-align: center;
    width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
}

.slider_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #2c7873;
}

.slider_section .img-box img {
    width: 100%;
}

.slider_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 45px auto 0 auto;
    width: 110px;
    height: 50px;
}

.slider_section .carousel_btn-box a {
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 1;
    color: #004445;
    font-size: 14px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.slider_section .carousel_btn-box a:hover {
    background-color: #2c7873;
    color: #ffffff;
}

.slider_section .carousel_btn-box .carousel-control-prev {
    left: 25px;
}

.slider_section .carousel_btn-box .carousel-control-next {
    right: 25px;
}

.service_section .heading_container {
    margin-bottom: 35px;
}

.service_section .box {
    margin: 10px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    padding: 25px 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.service_section .box .detail-box {
    margin-top: 15px;
}

.service_section .box .detail-box h5 {
    font-weight: bold;
}

.service_section .box .detail-box p {
    margin: 0;
}

.service_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.service_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
}

.service_section .btn-box a:hover {
    background-color: transparent;
    color: #2c7873;
}

.service_section .owl-stage .owl-item.active {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.service_section .owl-stage .owl-item.active.center {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.service_section .owl-stage .owl-item.active.center .box {
    background-color: #004445;
    color: #ffffff;
}

.service_section .owl-stage .owl-item.active.center .box .img-box img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.service_section .owl-nav {
    display: none;
}

.service_section .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
}

.service_section .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    margin: 0 2px;
    background-color: #ccc;
    border: none;
    outline: none;
}

.service_section .owl-dots .owl-dot.active {
    background: #2c7873;
}


/* Partie Panier */
/*-----------------------------------------------------*/

/*Icone du panier */
.icon-cart {
    position: relative;
    color: white;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

/*le Panneau d'achat */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    right: 0;
}


.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

/*Affichage de la liste de produits achetées */
.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 75px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #E8BC0E;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*-----------------------------------------------------*/

.about_section {
    background-color: #f9f9f9;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    color: #1f1f1f;
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 35px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #2c7873;
}

.team_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #004445;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 45px;
}

.team_section .box .img-box {
    width: 100%;
}

.team_section .box .img-box img {
    width: 100%;
}

.team_section .box .detail-box {
    width: 100%;
    color: #ffffff;
    padding: 25px 15px;
    text-align: center;
}

.team_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.team_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
}

.team_section .btn-box a:hover {
    background-color: transparent;
    color: #2c7873;
}

.contact_section {
    position: relative;
    background-color: #f9f9f9;
}

.contact_section .heading_container {
    align-items: center;
    margin-bottom: 45px;
}

.contact_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact_section .form_container {
    padding: 45px;
}

.contact_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    border-radius: 0;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::placeholder {
    color: #565554;
}

.contact_section .form_container .form-control.message-box {
    height: 95px;
}

.contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact_section .form_container .btn_box button {
    border: none;
    display: inline-block;
    padding: 12px 55px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
    width: 100%;
}

.contact_section .form_container .btn_box button:hover {
    background-color: transparent;
    color: #2c7873;
}

.contact_section .img-box {
    overflow: hidden;
}

.contact_section .img-box img {
    min-width: 100%;
}

.client_section .client_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.client_section .client_container .img-box {
    width: 125px;
}

.client_section .client_container .img-box img {
    width: 100%;
    border-radius: 5px;
}

.client_section .client_container .detail-box {
    margin-top: 25px;
}

.client_section .client_container .detail-box h5 {
    color: #1d1b28;
    margin-bottom: 15px;
}

.client_section .client_container .detail-box p {
    color: #1d1b28;
    margin: 20px;
}

.client_section .client_container .detail-box span {
    margin-top: 25px;
    color: #1eb36a;
    font-size: 28px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background-color: #000000;
    opacity: 1;
    top: 28%;
    color: #ffffff;
    font-size: 12px;
    margin: 0 2.5px;
}

.client_section .carousel-control-prev {
    left: 15%;
}

.client_section .carousel-control-next {
    right: 15%;
}

.client_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info_section {
    background-color: #004445;
    color: #ffffff;
    padding: 45px 0 10px 0;
}

.info_section h5 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.info_section .info_top {
    margin-bottom: 25px;
}

.info_section .info_top .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_section .info_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 245px;
}

.info_section .info_contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
}

.info_section .info_contact a i {
    margin-right: 5px;
    font-size: 24px;
}

.info_section .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 5px;
    font-size: 24px;
}

.info_section .info_bottom .row > div {
    margin-bottom: 30px;
}

.info_section .info_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
}

.info_section .info_menu li {
    list-style-type: none;
    margin-bottom: 10px;
}

.info_section .info_menu li a {
    color: #ffffff;
}

.info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
}

.info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #2c7873;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #2c7873;
}

.info_section .info_form button:hover {
    background-color: transparent;
    color: #2c7873;
}

/* footer section*/
.footer_section {
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.footer_section p {
    color: #252525;
    padding: 25px 0;
    margin: 0;
}

.footer_section p a {
    color: inherit;
}

/*---------------------------------------------------------------------------------------*/

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, #e6e6e6, #ffffcf);
    box-shadow: 5px 5px 15px #bebebe,
    -5px -5px 15px #ffffff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1);
}

/* Responsive profile picture */
@media (max-width: 768px) {
    .profile-picture {
        width: 120px;
        height: 120px;
    }
}

.profile-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 300;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.username {
    font-size: 4.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Georgia;
    margin-bottom: 30px;
}

.bio,
.adresse,
.role {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #333;
}


.username {
    animation-delay: 0.4s;
}

.bio {
    animation-delay: 0.5s;
}

.adresse {
    animation-delay: 0.6s;
}

.role {
    animation-delay: 0.7s;
}


/* Responsive text sizes */
@media (max-width: 768px) {
    .profile-container {
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
    }

    .username {
        font-size: 2rem;
    }

    .bio,
    .adresse,
    .role {
        font-size: 1rem;
    }
}
